Estilizar a cor de fundo do seu site como o css
body{
background-color: black;
}

Estilizar o título principal do seu site
 h1{
color: ;
font-family: ;
background: ;
}

Estilizar os parágrafos
p{
color: ;
font-family: ;
font-size: ;
background: ;
}
